<!-- Contact Section -->
<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Let's Get In Touch!</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">"Art is like a group of dandelion seeds blowing in the colorful wind."
        <a href="#myModal" data-toggle="modal" data-target=".bd-example-modal-lg"> <br>- Instructor Youngmin Kim</a></p>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-body">
              <img src="assets/images/certificate_2020.png" class="img-fluid" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div><a href="tel:408-540-4585">+1 (408) 540-4585</a></div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
        <!-- Make sure to change the email address in anchor text AND the link below! -->
        <a class="d-block" href="mailto:artewham@gmail.com">artewham@gmail.com</a>
      </div>
      <div class="col-lg-4 ml-auto text-center">
        <i class="fas fa-map-marker-alt fa-3x mb-3 text-muted"></i>
        <a class="d-block" href="https://goo.gl/maps/3cjca8BmBB5ty99x5" target="_blank">960 Saratoga Ave #120, San Jose</a>
      </div>
    </div>
  </div>
</section>
