<!-- Portfolio Section -->
<section id="portfolio">


  <div class="container">

    <ul class="nav nav-pills nav-stacked">
      <li><a href="#lightbox" data-toggle="modal">Open Lightbox</a></li>
      <li><a href="#lightbox" data-toggle="modal" data-slide-to="1">2nd Image</a></li>
      <li><a href="#lightbox" data-toggle="modal" data-slide-to="2">3rd Image</a></li>
      <li><a href="#lightbox" data-toggle="modal" data-slide-to="15">Open non existing Image</a></li>
    </ul>

    <div class="modal fade and carousel slide" id="lightbox">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <ol class="carousel-indicators">
              <li data-target="#lightbox" data-slide-to="0" class="active"></li>
              <li data-target="#lightbox" data-slide-to="1"></li>
              <li data-target="#lightbox" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img src="assets/images/classwork/fullsize/1.jpg" alt="First slide">
              </div>
              <div class="item">
                <img src="assets/images/classwork/fullsize/2.jpg" alt="Second slide">
              </div>
              <div class="item">
                <img src="assets/images/classwork/fullsize/3.jpg" alt="Third slide">
                <div class="carousel-caption"><p>even with captions...</p></div>
              </div>
            </div><!-- /.carousel-inner -->
            <a class="left carousel-control" href="#lightbox" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#lightbox" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div><!-- /.container -->


  <!--div class="container-fluid p-0">
    <div class="row no-gutters">
      {% for post in site.posts %}
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="assets/images/classwork/fullsize/{{ post.img }}">
          <img class="img-fluid" src="assets/images/classwork/thumbnails/{{ post.img }}" alt="">
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Studio M
            </div>
            <div class="project-name">
              {{ post.author }}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div-->
</section>
